@charset "utf-8";
/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
    
/* ---------CUSTOM FOR WEBSITE----------- */
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/logo_cropped.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-blend-mode: hard-light;
/* ---------CUSTOM FOR WEBSITE----------- */
}
/* Header */
header {
	text-align: center;
	display: block;
}
/* -----------CUSTOM FOR WEBSITE--------*/
header .profileHeader {
	width: 65%;
	float: right;
}
/* -----------CUSTOM FOR WEBSITE--------*/
header .profileLogo .logoPlaceholder {
	background-color: rgba(208,207,207,1.00);
	width: 187px;
	text-align: center;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto {
	background-color: black; /*rgba(237,237,237,1.00);*/
	width: 259px;
	border-radius: 50%;
	height: 259px;
	clear: both;
	float: left;
	width: 30%;
	height: auto;
}

/* ---------CUSTOM FOR WEBSITE----------- */
header .profilePhoto img{
	width: 100%;
	border-radius: 15%;
	height: inherit;
}
/* ---------CUSTOM FOR WEBSITE----------- */

header .profileHeader h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: rgba(255,215,0,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}

/* ---------CUSTOM FOR WEBSITE----------- */

/*-------added .headerTitle class to DOM -------*/
header .headerTitle{
	width: 100%;
	display: block;
}
header .headerTitle h1 {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 100px;
    color:#BF9236;
}
/* ---------CUSTOM FOR WEBSITE----------- */

header .profileHeader h3 {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	background-color: rgba(255,215,0,1.00);
	height: 2px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	overflow-y: auto;
}
/*----------------------CUSTOM FOR WEBSITE -------------------------*/

header .socialNetworkNavBar {
	width: 40%;
	/* [disabled]float: right; */
	margin-right: 2%;
	display: inline-block;
}
header .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: rgba(208,207,207,1.00);
}
.mainContent .section1 .section1Content span {
	color: rgba(146,146,146,1.00);
	font-family: sans-serif;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68,67,67,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.mainContent {
	/* [disabled]display: block; */
	float: left;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
body header {
	width: 100%;
	float: left;


}
.headerContactInfo {
	float: right;
	clear: right;
	width: 65%;
	color: rgba(255,215,0,1);
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	margin-right: 2%;


}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
    
/* ---------CUSTOM FOR WEBSITE----------- */
body{
    background-repeat:space;
    background-position:top;
}
header .headerTitle h1 {
	font-size:60px;
}
/* ---------CUSTOM FOR WEBSITE----------- */
    
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {

}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
	margin-bottom: 15%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
header .profilePhoto {
	display: block;
	position: relative;
	width: 100%;
}
header .profileHeader {
	display: block;
	width: 100%;

}
.headerContactInfo {
	width: 100%;
	color: rgba(255,215,0,1);
	font-weight: bold;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-size: 90%;
	margin-right: 0;

}
header .socialNetworkNavBar {
	display: block;
	width: 100%;
	position: relative;
	clear: right;
	margin-right: 0;

}





}
@media only screen and (min-width : 481px) and (max-width : 680px) {
    
/* ---------CUSTOM FOR WEBSITE----------- */
body{
    background-repeat:space;
    background-position:top;
}
header .headerTitle h1 {
	font-size:70px;
}
/* ---------CUSTOM FOR WEBSITE----------- */
    
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto img{
	width: 100%;

}
header .profileHeader p {
	text-align: justify;
}
header .socialNetworkNavBar {

}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}

header .profilePhoto {
	background-color: black; /*rgba(237,237,237,1.00);*/
	width: 259px;
	border-radius: 50%;
	/* [disabled]height: 259px; */
	clear: both;
	float: left;
	width: 30%;
	/* [disabled]height: auto; */
}
.headerContactInfo {



}

/* -----------CUSTOM FOR WEBSITE--------*/


}
/* Media Query for Tablets */
@media only screen and (min-width : 681px) and (max-width : 881px) {
    
/* ---------CUSTOM FOR WEBSITE----------- */
body{
    background-repeat:space;
    background-position:top;
}
header .headerTitle h1 {
	font-size:90px;
}
/* ---------CUSTOM FOR WEBSITE----------- */
    
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
}
header .profileHeader {

}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}

}

/* Desktops and laptops  */
@media only screen and (min-width:882px) {
        
/* ---------CUSTOM FOR WEBSITE----------- */
body{
    background-repeat:space;
    background-position:top;
}
header .headerTitle h1 {
	font-size:100px;
 n}
/* ---------CUSTOM FOR WEBSITE----------- */
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}

header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22.5%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 26%;
	margin-bottom: 0%;
	font-family: sans-serif;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	font-family: sans-serif;
}
.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}

}
